@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

:root {
  --shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);

  --color-primary: #63e2b7;
  --color-dark: #0e0e11;
  --color-dark2: #272829;
  --color-light: #ecedf0;
  --color-light2: #d7d8db;

  --font-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;

  --nn-color-error: #e88080;
  --nn-color-warning: #f2c97d;
  --nn-color-info: #70c0e8;
  --nn-color-success: #63e2b7;
}

.main-container {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
}

.menu {
  padding: 0 0 1rem;
}
.menu a {
  display: 0.5rem;
  margin-left: 0.5rem;
}

.code-container {
  padding: 1rem;
  border-left: 2px solid var(--color-primary);
  background-color: var(--color-dark);
}

.code {
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  font-family: var(--font-mono);
}

.challenge-alternatives {
  display: block;
}

.challenge-alternative {
  border: 1px dashed var(--color-dark2);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  width: calc(100% - 2rem);
}

.form-container {
  border: 1px solid var(--color-dark2);
  padding: 2rem;
  max-width: 18rem;
}

.form-admin {
  padding-bottom: 2rem;
}

.logo {
  width: 90px;
}

.small-text {
  font-size: 0.875rem;
}
.sans-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p-1 {
  padding: 1rem;
}

.text-error > .n-statistic-value > span {
  color: var(--nn-color-error) !important;
}

.text-warning > .n-statistic-value > span {
  color: var(--nn-color-warning) !important;
}

.text-success > .n-statistic-value > span {
  color: var(--nn-color-success) !important;
}
